.about{

    margin-top: 109px;
}


.about__tittle{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #212B31;
}
.about__description{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin-top: 17px;
    color: #212B31;
}
.about__name{
    
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;color: #212B31;
}
.about__describe{
    width: 394px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #72787D;
}
.about__box{
    
    display: flex;
    width: 324px;
    align-items: flex-start;
}
.about__icon{
    
    margin-right: 16px;
    padding-top: 16px;
}
.
.about__sector{
    display: flex;
    flex-wrap: wrap;
}