.firma{
 
    display: flex;
    justify-content: center;
 
}
.firma__container{
    width: 1088px;
    display: flex;
    flex-direction: column;
    margin-top: 128px;
    margin-bottom: 136px;
}
.firma__logotip{
    width: 180px;
    margin-right:29px;
    align-self: center;
}
    

