.hero__img{
    text-align: center;
}

.hero__btns button {
    margin: 0 8px;
} 
.hero__tittle{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: #212B31;

    width: 818px;
    margin-top: 112px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0 ;
}
.hero__btns{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.hero__city{
    margin-top: 88px;
}
.hero__car{
    margin-top: 36px;
    
}